/* GENERAL STYLES */
:root {
    /* declare a variable with `--` syntax */
    --dark: #081018;
    --light: #fff;
    --background1: #271d3f;
    --background2: rgb(143, 143, 143);
    --background3: rgb(83, 75, 117);
    --color1: rgb(38, 60, 255);
    --color2: rgb(242, 245, 67);
    --color3: rgb(238, 56, 56);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

/* HEADER */

header {
    padding: 20px;
    background-color: var(--dark);
    color: var(--light);
    min-width: 100px;
}

header h1 {
    display: inline-block;
    font-size: 300%;
}

header nav {
    float: right;
    font-size: 150%;
}

header nav ul li {
    display: inline-block;
    background-color: var(--light);
}

header nav ul li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }

header nav ul li a:link, a:visited {
    background-color: var(--light);
    color: var(--dark);
    border: 2px solid var(--color1);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: var(--background3);
  }
   
/* Main */

main {
    width: 100%;
    display: block;
    padding: 20px;
}

/* Content */

.sections {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: var(--background2);
    color: var(--dark);
    margin-bottom: 20px;
    margin-right: 20px;
}

.sections h2 {
    display: inline-block;
    font-size: 200%;
}

.sections p {
    margin-right: 40px;
    margin-left: 40px;
}

#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 150%;
}


/*Images*/

#main-image {
    display: flex;
    float: right;
    margin: 10px;
    max-width: 100%;
}

.images {
    margin-bottom: 20px;
    display: flex;
    float: right;
    width: 60%;
    justify-content: flex-end;
}

#about {
    display: flex;
    margin: 10px;
    width: 30%;
    height: auto;
}

.column {
    float: left;
    width: 50%;
} 

#resume-image {
    display: flex;
    float: right;
    width: 60%;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
    header, main, nav {
      flex-direction: column;
    }
    
    header nav ul li {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
  }